/*Universal selector*/

* {
    text-align: center;
    font-family: Segoe UI;
    font-size: 50px;
    box-sizing: content-box;
}

body {
    background: linear-gradient(to right, #F51663, #FAC218);
}

/*Top Bar stuff, no move, etwas näher nach oben*/

.TopBar {
    position: fixed;
    width: 100%;
    top: -85px;
    z-index: 1;
    background: linear-gradient(to left, #DEB3AD, #F86F15);
    border: 8px solid white;

    
}

/* #F51663 #DEB3AD #FAC218 #F86F15 */

.TopBar h1{
    font-size: 100px;
    color: white;
    text-transform: uppercase;
}

.TopBar nav p {
    position: fixed;
    width: 100%;
    top: 80px;
}

.navel a{
    color: white;
    background-color: #FAC218;
    text-decoration: none solid white;
    border-radius: 20px;
    border: 8px solid white;
    padding: 10px;
    margin: 0 10px;
}

.navel a:hover {
    background-color: #F86F15;
    padding: 10px;
    margin: 0 10px;
}

.midjourney {
    position: relative;
    top: 120px;
    margin: 120px;
    font-weight: bold;
    padding: 15px 50px;
    
}

.midjourneyLink {
    width: 80%;
    margin: 0 auto;
    font-style: italic;
    position: relative;
    top: 20px;
    padding: 20px;
}

.midjourney, .midjourneyLink, .dragoncaption, .stereocaption {
    background-color: black;
    color: white;
    border-radius: 20px;
    border: 8px solid white;
}

.media, .twentie{
    position: relative;
    margin: 200px 0px;
    background-image: url(./media/blur-black-hole.png);
    height: 900px;
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    align-items: center;
    padding-left: 150px; 
    text-decoration: underline solid white;
    font-size: 200px;
    border: 8px solid white;
}

.Dragon {
    width: 1024px;
    height: 1024px;
    margin-right: 50px;
}

.Tarot {
    width: 1024px;
    height: 1024px;
    margin-left: 50px;
}

.aiimage {
    border: 8px solid white;
}

.dragoncaption, .stereocaption  {
    margin: 0px 150px;
    border-radius: 0px;
}

#Toastkruemel {
    margin: 50px 110px;
}

#stereoguide {
   width: 500px;
   height: 500px;
   margin-top: 50px;
   margin-left: 230px;
}

.beside {
    display: flex;
}

.twentie {
    background-image: url(./media/game-room.png);
}

.achievements li {
    display: inline-block;
    width: 450px;
    height: 100px;
    padding-top: 40px;
    font-size: 40px;
    color: white;
    border: 8px solid white;
    list-style-type: none;
    background-color: black;
    border-radius: 20px;
}
